/* body */
body {
    font-size: 1rem;
    line-height: 1.6;
    background-color: #1f1f1f;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
}


/* headings */
h1 {
    font-size: 2rem;
    padding-top: .625rem;
    padding-left: .5rem;
}

h2 {
    font-size: 1.75rem;
    padding-top: .625rem;
    padding-left: .5rem;
}

h3 {
    font-size: 1.5rem;
    padding-top: .625rem;
    padding-left: .5rem;
}

h4 {
    font-size: 1.25rem;
    padding-top: .625rem;
    padding-left: .5rem;
}

h5 {
    font-size: 1.125rem;
    padding-top: .625rem;
    padding-left: .5rem;
}

h6 {
    font-size: 1rem;
    padding-top: .625rem;
    padding-left: .5rem;
}


/* paragraphs */
p {
    font-size: 1rem;
    padding: .625rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}


/* small */
small {
    font-size: .875rem;
}


/* foooter */
#footer {
    padding: .2rem;
    padding-left: 1rem;
    background-color: #0f0f0f;
    color: #e0e0e0;
}


/* website title */
#website-title {
    background-color: #0f0f0f;
    padding: 1.5rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}


/* container */
.container {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}


/* text-align right */
.right-align {
    text-align: right;
    display: block;
}


/* horizontal lines */
hr {
    border: none;                           /* removes the default border */
    height: 30px;                           /* sets the height of the line */
    background: none;                       /* removes the background color */
    border-top: .25rem dashed #e0e0e0;
    margin: 20px 0;
}


dl {
    color: black;
    margin-bottom: 20px; /* adds spacing below the definition list */
    border: 1px solid black;
    padding: 30px;           /* adds padding inside the border */
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0.625rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.5);   /* shadow*/
    width: max-content;
}

dd, dt {
    padding: 5px 0; /* adds padding above and below terms and descriptions */
}

dt {
    font-weight: bold;    /* makes the term bold */

}

dd {
    margin-bottom: 1rem;    /* adds spacing below each description */
    word-wrap: break-word;  /* breaks long words to prevent overflow */
}


/* links */
a {
    color: #5e79ff;
    text-decoration: none; /* removes underline */
    transition: color 0.3s ease; /* smooth transition */
}

a:hover {
    color: #4afffc;
    text-decoration: underline; /* adds underline on hover */
}

a:visited {
    color: rgb(195, 136, 253);
}


/* audio */
audio {
    display: block;
    margin: 0 auto;       /* centers the block element */
    width: 100%;          /* ensures the audio element takes up the full width of its container */
    max-width: 600px;     /* sets maximum width for the audio element */
}


/* images */
img {
    max-width: 100%;                                                /* ensures the image scales down to fit the container */
    height: auto;                                                   /* maintains aspect ratio */
    border: 0.09375rem solid #000000;
    box-shadow: 0.625rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.5);   /* shadow*/
}


/* videos */
video {
    display: block;
    margin: 0 auto;
    width: 100%;          /* Ensures the video element takes up the full width of its container */
    max-width: 800px;     /* Sets a maximum width for the video element */
    border: 10px solid black;
    border-radius: 4px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.3)
}


/* code snippets */
code {
    background-color: rgba(0, 0, 0, 0.889);
    padding: 10px;
    border: 10px solid black;
    border-radius: 4px;
    overflow: auto;
    display: block;
    color: green;
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 3rem;
    box-shadow: 0 0 50px rgba(133, 252, 127, 0.3)
}


/* navbar */
nav {
    padding: 0.75rem 2rem;
    padding-left: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0f0f;
}

nav a:hover {
    color: #6ea8ff;
}

    /* menu */
.menu > li, .menu > a {
    display: inline-block;
    padding-left: .625rem;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #4e8cff;
    display: block;
    padding-right: .625rem;
    padding-left: .625rem;
}

.menu a:hover {
    background-color: #404040;
}

        /* show menu on hover */
.menu > li:hover > .submenu {
    display: block;
}

.submenu > li:hover > .submenu2 {
    display: block;
    animation: .1s ease slideright;
}


            /* animation keyframes for hover */
@keyframes slideright {
    0% {
        opacity: 0;
        transform: translateX(-25px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}


        /* submenu */
.submenu {
    position: absolute;
    background-color: #0f0f0f;
    width: max-content;
    text-align: left;
    padding-right: .1875rem;
    padding-left: .1875rem;
    padding-bottom: .1875rem;
    display: none;
    opacity: 98%;
}


            /* submenu2 */
.submenu2 {
    position: absolute;
    background-color: #0f0f0f;
    left: 100%;
    width: max-content;
    text-align: left;
    padding-left: .1875rem;
    padding-right: .1875rem;
    padding-bottom: .1875rem;
    top: 0;
    display: none;
    opacity: 98%;
}



/* Adjustments for mobile */
@media screen and (max-width: 728px) {
    body {
        font-size: 1.125rem;
        line-height: 1.4;
    }

    h1, h2, h3, h4, h5, h6 {
        padding-left: 1rem;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.375rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1.125rem;
    }

    h6 {
        font-size: 1rem;
    }

    p {
        padding: 1.125rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
    }

    small {
        padding: 1rem;
    }

    #footer {
        padding: .2rem;
        padding-left: .5rem;
    }

    #website-title {
        padding: 1rem;
        font-size: 1.75rem;
    }

    nav {
        padding: 0.5rem 1rem;
        padding-bottom: 2.55rem;
    }

    .menu > li, .menu > a {
        display:block;
        padding-left: unset;
        text-align: center;
    }

    .menu {
        width: 12.5rem;
    }

    .submenu {
        position: unset;
        width: 12.5rem;
        padding-bottom: 2.5rem;
    }

    .submenu2 {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 10.75rem;
        display: none;
        position: absolute; /* position relative to parent submenu item */
        left: 100%; /* position to the right of the parent 'submenu' */
        top: 0;
    }

    .menu a {
        padding-top: .46875rem;
        padding-bottom: .46875rem;
    }

    code {
        font-size: 1.125rem;
        margin-left: unset;
    }
}