        /* reset */

            /* Ensure the html and body elements occupy the full height of the viewport */
        html, body {
            height: 100%;
        }


            /* Add a CSS reset to remove default browser styles and ensure consistency across browsers */
        * {
            margin: 0;
            padding: 0px;
            box-sizing: border-box;
        }


            /* Remove default list styles from all unordered lists */
        ul {
            list-style: none;
        }



        /* global */

            /* body */
        body {
            font-size: 1rem;
            line-height: 1.6;
            background-color: #1f1f1f;
            color: #e0e0e0;
            font-family: Arial, sans-serif;
        }


            /* headings */
        h1 {
            padding-top: 0.625rem;
            padding-left: 0.5rem;
        }

        h2 {
            padding-top: 0.625rem;
            padding-left: 0.5rem;
        }

        h3 {
            padding-top: 0.625rem;
            padding-left: 0.5rem;
        }

        h4 {
            padding-top: 0.625rem;
            padding-left: 0.5rem;
        }

        h5 {
            padding-top: 0.625rem;
            padding-left: 0.5rem;
        }

        h6 {
            padding-top: 0.625rem;
            padding-left: 0.5rem;
        }


            /* paragraphs */
        p {
            padding: 0.625rem;
            padding-left: 2rem;
            padding-bottom: 2rem;
        }


            /* foooter */
        #footer {
            padding: 0.2rem;
            padding-left: 1rem;
            background-color: #0f0f0f;
            color: #4b4b4b;
        }


            /* website title */
        #website-title {
            padding: 1.5rem;
            font-size: 2.6rem;
            text-align: center;
            font-weight: bold;
        }


            /* navbar */
        nav {
            padding: 0.2rem;
            padding-left: 0.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #0f0f0f;
        }

        nav a:hover {
            color: #6ea8ff;
        }


                /* menu */
        .menu > li, .menu > a {
            display: inline-block;
            padding-left: 10px;
        }

        .menu li {
            position: relative;
        }

        .menu a {
            text-decoration: none;
            color: #4e8cff;
            display: block;
        }

        .menu a:hover {
            background-color: #404040;
        }


                    /* submenu */
        .submenu {
            position: absolute;
            background-color: #0f0f0f;
            width: max-content;
            text-align: left;
            padding-right: 3px;
            padding-left: 3px;
            padding-bottom: 3px;
            display: none;
            opacity: 98%;
        }


                    /* submenu2 */
        .submenu2 {
            position: absolute;
            background-color: #0f0f0f;
            left: 100%;
            width: max-content;
            text-align: left;
            padding-left: 3px;
            padding-right: 3px;
            padding-bottom: 3px;
            top: 0;
            display: none;
            opacity: 98%;
        }


                    /* show menu on hover */
        .menu > li:hover > .submenu {
            display: block;
            animation: .3s ease slideup;
        }

        .submenu > li:hover > .submenu2 {
            display: block;
            animation: .4s ease slideright;
        }


                    /* animation keyframes for hover */
        @keyframes slideup {
            0% {
                opacity: 0;
                transform: translateY(18px);
            }

            100% {
                opacity: 1;
                transform: none;
            }
        }

        @keyframes slideright {
            0% {
                opacity: 0;
                transform: translateX(-25px);
            }

            100% {
                opacity: 1;
                transform: none;
            }
        }