/* adjacent sibling selector */
h4 + p {
    text-decoration: underline;
}

/* general sibling */
h5 ~ p {
    text-decoration: underline;
}

/* pseudo-elements */
.example::first-letter {
    font-size: 2em;
    font-weight: bold;
    color: yellow;
}